{% extends "base.html" %}

{% block content %}
<br>

<h1 style="text-align: center;" >プレゼント　リスト</h1>
<table border="1">
    <tr>
        <th>日付</th>
        <th>送り主</th>
        <th>プレゼント</th>
        <th>コメント</th>
        <th>写真</th>
        <th>編集</th>
        <th>削除</th>
    </tr>

    {% for item in present_list %}

            <tr>
                <!-- <td>{{item["id"]}}</td> -->
                <td>{{item["date"]}}</td>
                <td>{{item["who"]}}</td>
                <td>{{item["present"]}}</td>
                <td>{{item["comment"]}}</td>
                <td>{{item["pic"]}}</td>
                <td><a href="/edit/{{item['id']}}">編集</a></td>
                <td><a href="/del/{{item['id']}}">削除</a></td>
            </tr>
    {% endfor %}
</table>
<br>

<button><a href="/add">プレゼント登録ページへ</a></button>
<br>
<br>

<button><a href="/logout">ログアウトする</a></button>
{% endblock %}