{% extends "base.html" %}

{% block content %}



<header>

    <div class="hum_menu">

        <a href="javascript:void(0);">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    
</header>
​
<section id="sec1">
    <div class="box">
        <h1>Memorial Date Bank</h1>
            <h2>～プレゼントを記録に残そう～</h2>
                <p>我が子に頂いたプレゼント。子供が成長してもう必要ないのに思い出があって捨てれない。
                    捨ててしまうのは、頂いた方へ申し訳ない。<br>しかし、子供が成長するに従って、どんどん
                    たまっていく一方で置き場所がなく、断捨離せざるを得ない。
                    そんな方に使って頂きたいアプリです。<br>プレゼントを写真に残し、データ化することで、
                    記録して残すことができます。断捨離しても記憶に残してみませんか。</p>
    </div>

</section>
​
<div id="waku">
    <ul class="list">
        <div>
            <li class="img"><img
                    src="../static/img/1.jpg"
                    alt="画像1"></li>
            <ul>
                <li class="text">自転車 </li>
                <li class="text">R2 1月 </li>
                <li class="text">祖父母から </li>
                <li class="text">上手く乗れるといいね</li>
            </ul>
            ​
        </div>
        <div>
            <li class="img"><img
                    src="../static/img/2.jpg"
                    alt="画像2"></li>

            <ul>
                <li class="text">ピアノ</li>
                <li class="text">R2 5月</li>
                <li class="text">ママとパパから</li>
                <li class="text">子供の日に</li>
                ​
            </ul>
        </div>
        <div>
            <ul>
                <li class="img"><img
                        src="../static/img/3.jpg"
                        alt="画像3"></li>
                <ul>
                    <li class="text">おもちゃ</li>
                    <li class="text">R2 12月</li>
                    <li class="text">お友達から</li>
                    <li class="text">お正月に</li>
                    ​
                </ul>
            </ul>
        </div>
    </ul>
</div>



<h2>ログインはこちらからどうぞ</h2>
<form action="/login" method="post">
    名前：<input type="text" name="user_name" placeholder="お名前">
    パスワード：<input type="password" name="password" placeholder="パスワード">
    <input type="submit" name="save" value="ログイン">
</form>
<br>
<br>

<!-- 新規登録へのリンク作成 -->
<button><a href="/regist">
        <h2>新規登録はこちらから</h2>
    </a></button><br>
<br>



{% endblock %}